<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LSDMS.Properties.Settings.lsdmsConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=prs92;Persist Security Info=True;User ID=prs92;Password=prs92"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>